---
title: Notebook
---

{% for note in site.notes reversed %}
    <section>
        <h1><a href="{{ note.url | relative_url }}" class="nounderline">Note #{{ note.slug }}:  {{ note.title }}</a></h1>
        <span class="grey small">{{ note.date | date: "%b %d, %y" }} </span>
        <p>{{ note.excerpt | markdownify }}
        
        {% if note.excerpt != note.content %}
            <a class="nounderline" href="{{ note.url | relative_url }}">Read more...</a>
        {% endif %}
        </p>
    </section>
{% endfor %}