<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Notes</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
        <h1 class="aligncenter"><a href="index.html" class="nounderline">Notebook</a></h1>
        <div class="grey aligncenter">Tips for my future self</div>
    </header>
    {{ content }}
    <footer>
      <div class="alignright"><a href="mailto:n2d4xc@gmail.com" class="small">report an error</a></div>
    </footer>
  </body>
</html>
